<div class="not-found-row-container">
  <div class="not-found-column-container">
    <div class="not-found-title-container">
      <div class="not-found-title-logo-container">
        <img src="assets/img/colored-new.png" class="not-found-title-logo-image"/>
      </div>
      <div class="not-found-title">
        <div>
          Page not found
        </div>

      </div>
    </div>
    <div class="not-found-return-container">
      <a [href]="'/'">Return to the main page</a>
    </div>
  </div>
</div>
