.user-filter-container {
width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #DBF8ECFF;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;

  .user-filter-element + .user-filter-element {
    margin-left: 10px;
  }

  .user-filter-btn-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
