$main-theme-color: #476A6F;
$main-theme-btn-color: #519E8A;
$navbar-font-size: 14px;
$navbar-theme-color: #476A6F;
$main-theme-dark-text: #476A6F;
$btn-warn-text-color: #EF043A;
$btn-basic-text-color: #519E8A;

